<p>
  <b><%=t "activerecord.attributes.notification.car" %></b>
  <%= @notification.car.name %>
</p>

<p>
  <b><%=t "activerecord.attributes.notification.text" %></b>
  <%= @notification.text %>
</p>

<p>
  <b><%=t "activerecord.attributes.notification.read" %></b>
  <%= @notification.read %>
</p>


<%= link_to t("link.edit"), edit_notification_path(@notification) %> |
<%= link_to t("link.back"), notifications_path %>
