<p>
  <b><%=t "activerecord.attributes.notification.car" %></b>
  <%= @notification.car.name %>
</p>

<p>
  <b><%=t "activerecord.attributes.notification.text" %></b>
  <%= @notification.text %>
</p>

<p>
  <b><%=t "activerecord.attributes.notification.read" %></b>
  <%= @notification.read %>
</p>

<p>
  <b><%=t "activerecord.attributes.notification.cancel" %></b>
  <%= @notification.cancel %>
</p>

<%= link_to t("link.edit"), edit_notification_path(@notification), :class => "btn" %>
<%= link_to t("link.back"), notifications_path, :class => "btn" %>
