<h1>Listing talks</h1>

<table>
  <tr>
    <th>Sender user</th>
    <th>Sender car</th>
    <th>Receiver user</th>
    <th>Receiver car</th>
    <th>Received</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @talks.each do |talk| %>
  <tr>
    <td><%= talk.sender_user_id %></td>
    <td><%= talk.sender_car_id %></td>
    <td><%= talk.receiver_user_id %></td>
    <td><%= talk.receiver_car_id %></td>
    <td><%= talk.received %></td>
    <td><%= link_to 'Show', talk %></td>
    <td><%= link_to 'Edit', edit_talk_path(talk) %></td>
    <td><%= link_to 'Destroy', talk, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Talk', new_talk_path %>
