<p id="notice"><%= notice %></p>

<table class="table table-striped table-bordered table-hover table-narrow">
  <tr>
    <th><%=t "activerecord.attributes.check_point.name" %></th>
    <td><%= @check_point.name %></td>
  </tr>
</table>

<%= link_to t("link.edit"), edit_check_point_path(@check_point) %> |
<%= link_to t("link.back"), check_points_path %>
