<h1><%=t "activerecord.models.user" %><%=t "link.show" %></h1>

<p>
  <b><%=t "activerecord.attributes.user.username" %></b>
  <%= @user.username %>
</p>

<p>
  <b><%=t "activerecord.attributes.user.image" %></b>
  <% unless @user.images.blank? %>
    <%= image_tag @user.images.pop.image.url(:medium) %>
  <% end %>
</p>

<p>
  <b><%=t "activerecord.attributes.user.email" %></b>
  <%= @user.email %>
</p>


<% if user_signed_in? && @user.id == current_user.id %>
  <%= link_to t("link.edit"), edit_user_path(@user.username) %>
<% end %>
