<link rel="stylesheet" type="text/css" media="print" href="/assets/documents.css" />

<div class="left">
  <h1>労務時間報告書</h1>
  <h2><%= "#{params[:year]}年#{params[:month]}月" %></h2>
  <table class="table table-striped table-bordered table-hover table-narrow minimize">
    <tr>
      <th><%=t "label.document.company" %></th>
      <td><%= current_user.username %></td>
    </tr>
    <tr>
      <th><%=t "activerecord.models.driver" %></th>
      <td><%= @driver.name %></td>
    </tr>
  </table>
</div>

<div class="right">
  <table class="table-striped table-bordered table-hover square right">
    <tr>
      <th>代表者</th>
      <th>整備管理者</th>
      <th>経理係</th>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>

<div class="clear"></div>

<table class="table table-striped table-bordered table-hover">
  <tr>
    <th><%=t "activerecord.attributes.report.started_at" %></th>
    <th><%=t "activerecord.attributes.report.started_at" %></th>
    <th><%=t "activerecord.attributes.report.finished_at" %></th>
    <th><%=t "activerecord.attributes.report.working_hours" %></th>
    <th><%=t "activerecord.attributes.report.rest_hours" %></th>
    <th><%=t "activerecord.attributes.report.real_working_hours" %></th>
    <th><%=t "label.document.overtime" %></th>
    <th><%=t "label.document.late_night" %></th>
    <th><%=t "label.document.day_off" %></th>
    <th><%=t "label.document.sales" %></th>
    <th><%=t "label.document.note" %></th>
  </tr>

  <% for i in 1..Date.new(params[:year].to_i, params[:month].to_i, - 1).day %>
    <% if @report_hash[i] %>
      <% @report_hash[i].each_with_index do |report, j| %>
        <tr>
          <td>
            <% if j == 0 %>
              <% if report.started_at.strftime("%w") == "0" %>
                <%= link_to report.started_at.strftime("%-d日(#{%w(日 月 火 水 木 金 土)[report.started_at.wday]})"), report_path(report), :class => "red" %>
              <% elsif report.started_at.strftime("%w") == "6" %>
                <%= link_to report.started_at.strftime("%-d日(#{%w(日 月 火 水 木 金 土)[report.started_at.wday]})"), report_path(report), :class => "blue" %>
              <% else %>
                <%= link_to report.started_at.strftime("%-d日(#{%w(日 月 火 水 木 金 土)[report.started_at.wday]})"), report_path(report) %>
              <% end %>
            <% end %>
          </td>
          <td>
            <% if report.started_at %><%= report.started_at.strftime("%H時%M分") %><% end %>
          </td>
          <td>
            <% if report.finished_at %><%= report.finished_at.strftime("%H時%M分") %><% end %>
          </td>
          <td>
            <% if report.finished_at %>
              <%= (report.finished_at - report.started_at).divmod(60*60)[0] %>時間
              <%= (report.finished_at - report.started_at).divmod(60*60)[1].divmod(60)[0] %>分
            <% end %>
          </td>
          <td>
            <% if @rest_hash[report.id] %>
              <%= @rest_hash[report.id][0] %>時間
              <%= @rest_hash[report.id][1] %>分
            <% end %>
          </td>
          <td>
            <% if report.finished_at && @rest_hash[report.id] %>
              <%= ((report.finished_at - report.started_at).to_i - (@rest_hash[report.id][0]*60*60 + @rest_hash[report.id][1]*60)).divmod(60*60)[0] %>時間
              <%= ((report.finished_at - report.started_at).to_i - (@rest_hash[report.id][0]*60*60 + @rest_hash[report.id][1]*60)).divmod(60*60)[1].divmod(60)[0] %>分
            <% end %>
          </td>
          <td></td>
          <td><%= @late_night_hash[report.id] %></td>
          <td></td>
          <td><%= number_to_currency report.sales + report.extra_sales, :locale => "ja" %></td>
          <td></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td>
          <% if Date.new(params[:year].to_i, params[:month].to_i, i).strftime("%w") == "0" %>
            <%= link_to Date.new(params[:year].to_i, params[:month].to_i, i).strftime("%-d日(#{%w(日 月 火 水 木 金 土)[Date.new(params[:year].to_i, params[:month].to_i, i).wday]})"), "#{reports_path}/#{params[:year]}/#{params[:month]}/#{i}", :class => "red" %>
          <% elsif Date.new(params[:year].to_i, params[:month].to_i, i).strftime("%w") == "6" %>
            <%= link_to Date.new(params[:year].to_i, params[:month].to_i, i).strftime("%-d日(#{%w(日 月 火 水 木 金 土)[Date.new(params[:year].to_i, params[:month].to_i, i).wday]})"), "#{reports_path}/#{params[:year]}/#{params[:month]}/#{i}", :class => "blue" %>
          <% else %>
            <%= link_to Date.new(params[:year].to_i, params[:month].to_i, i).strftime("%-d日(#{%w(日 月 火 水 木 金 土)[Date.new(params[:year].to_i, params[:month].to_i, i).wday]})"), "#{reports_path}/#{params[:year]}/#{params[:month]}/#{i}" %>
          <% end %>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    <% end %>
  <% end %>

  <tr class="info">
    <td><%=t "label.document.sum" %></td>
    <td colspan="2" class="center"><%=t "label.document.work_days" %>：<%= @reports.size %></td>
    <td>
      <%= @working_hours.divmod(60*60)[0] %>時間
      <%= @working_hours.divmod(60*60)[1].divmod(60)[0] %>分
    </td>
    <td>
      <%= @rest_hours.divmod(60*60)[0] %>時間
      <%= @rest_hours.divmod(60*60)[1].divmod(60)[0] %>分
    </td>
    <td>
      <%= (@working_hours - @rest_hours).divmod(60*60)[0] %>時間
      <%= (@working_hours - @rest_hours).divmod(60*60)[1].divmod(60)[0] %>分
    </td>
    <td></td>
    <td><%= @late_night %></td>
    <td></td>
    <td><%= number_to_currency @sales + @extra_sales, :locale => "ja" %></td>
    <td></td>
  </tr>
</table>

<!-- <p><a href="#" onClick="window.close(); return false;" class="btn">サブウィンドウを閉じる</a></p> -->
