<%= wicked_pdf_stylesheet_link_tag "bootstrap" %>
<%= wicked_pdf_stylesheet_link_tag "documents" %>

<style type="text/css">
h1 {
  font-size: 1.7em;
  margin: 0;
}

h2 {
  font-size: 1.2em;
  margin: 0;
}

h3 {
  font-size: 1em;
  margin: 0;
}

body {
  width: 1000px;
}

table {
  font-size: 0.8em;
}

table th {
  line-height: 12px !important;
  text-align: center !important;
  vertical-align: middle !important;
}

table td {
  padding: 8px;
  line-height: 40px !important;
  text-align: center !important;
}

.title {
  width: 50%;
  float: left;
}

.boxes {
  width: 30%;
  float: right;
}

.square {
  margin-bottom: 20px;
}

.square th {
  width: 70px;
  padding: 8px;
  line-height: 20px;
  vertical-align: top;
}

.square td {
  height: 70px;
  width: 70px;
}

table.small th,td{
  font-size: 11px !important;
}

</style>

<div class="left title">
  <h1>点呼記録簿</h1>
  <h2><%= "#{params[:year]}年#{params[:month]}月#{params[:day]}日" %> <%= Date.new(params[:year].to_i, params[:month].to_i, params[:day].to_i).strftime("#{%w(日 月 火 水 木 金 土)[Date.new(params[:year].to_i, params[:month].to_i, params[:day].to_i).wday]}") %>曜日</h2>
  <table class="table table-striped table-bordered table-hover table-narrow minimize">
    <tr>
      <td class="span3 left"><%= current_user.username %></td>
      <td class="span2 left"><%= current_user.person_in_charge %></td>
    </tr>
  </table>
</div>

<div class="right boxes">
  <table class="table-striped table-bordered table-hover square right">
    <tr>
      <th>代表者</th>
      <th>整備管理者</th>
      <th>運行管理者</th>
    </tr>
    <tr>
      <td><%#= image_tag @user.images.pop.image.path(:thumb) %></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>

<div class="clear"></div>

<table class="table table-bordered table-hover small">
  <tr>
    <th colspan="2"></th>
    <th colspan="9">業務開始前点呼</th>
    <th colspan="6">業務終了後点呼</th>
  </tr>
  <tr>
    <th rowspan="2">車番</th>
    <th rowspan="2" class="span1">運転者名</th>
    <th colspan="2" class="span1">アルコール<br />検知器</th>
    <th rowspan="2">健康<br />状態</th>
    <th rowspan="2">日常<br />点検</th>
    <th rowspan="2">服装</th>
    <th rowspan="2">携行品</th>
    <th rowspan="2">指示事項<br />その他<br />必要な事項</th>
    <th rowspan="2" class="span1">点呼時刻</th>
    <th rowspan="2">執行者名</th>
    <th colspan="2" class="span1">アルコール<br />検知器</th>
    <th rowspan="2">自動車、<br />道路及び<br />運行の状況</th>
    <th rowspan="2">その他<br />必要な事項</th>
    <th rowspan="2" class="span1">点呼時刻</th>
    <th rowspan="2">執行者名</th>
  </tr>
  <tr>
    <th>使用</th>
    <th>結果</th>
    <th>使用</th>
    <th>結果</th>
  </tr>
  <% @reports.each do |report| %>
  <tr>
    <td><%= report.car.name %></td>
    <td><%= report.driver.name %></td>
    <td>有</td>
    <td>◯</td>
    <td>◯</td>
    <td>◯</td>
    <td>◯</td>
    <td>◯</td>
    <td>◯</td>
    <td><%= (report.started_at - 10*60).strftime("%H時%M分") %></td>
    <td></td>
    <td>有</td>
    <td>◯</td>
    <td>◯</td>
    <td>◯</td>
    <td><%= (report.finished_at + 10*60).strftime("%H時%M分") rescue nil %></td>
    <td></td>
  </tr>
  <% end %>
</table>
