<%= wicked_pdf_stylesheet_link_tag "bootstrap" %>
<%= wicked_pdf_stylesheet_link_tag "documents" %>

<style type="text/css">
h1 {
  font-size: 1.7em;
  margin: 0;
}

h2 {
  font-size: 1.2em;
  margin: 0;
}

h3 {
  font-size: 1em;
  margin: 0;
}

table {
  font-size: 0.7em;
}

table th {
  line-height: 10px !important;
  text-align: center !important;
}

table td {
  padding: 8px;
  line-height: 5px !important;
  text-align: center !important;
  vertical-align: middle !important;
}

table td.wide {
  line-height: 10px !important;
}

.title {
  width: 65%;
  float: left;
}

.boxes {
  width: 30%;
  float: right;
}

.square {
  margin-bottom: 20px;
}

.square th {
  width: 70px;
  padding: 8px;
  line-height: 20px;
  vertical-align: top;
}

.square td {
  height: 70px;
  width: 70px;
}

.meter {
  width: 65%;
  float: left;
}

.sales {
  width: 30%;
  float: right;
}

.check_point {
  float: left;
}

.check_point th {
  font-size: 0.8em;
}

.rest, .ride {
  float: left;
}

.rest .left, .rest .right, .ride .left, .ride .right {
  width: 50%;
  float: left;
}
</style>

<div class="left title">
  <h1>乗務記録簿・日常点検記録簿</h1>
  <h2><%= @report.started_at.strftime("%Y年%-m月%-d日") %></h2>
</div>
<div class="clear"></div>

<div class="right boxes">
  <table class="table-striped table-bordered table-hover square right">
    <tr>
      <th>代表者</th>
      <th>整備管理者</th>
      <th>経理係</th>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>

<div class="left">
  <div class="meter">
    <h3><%=t "label.car" %></h3>
    <table class="table table-striped table-bordered table-hoverw">
      <tr>
        <th><%=t "activerecord.attributes.report.car" %></th>
        <th><%=t "activerecord.attributes.report.driver" %></th>
        <th><%=t "activerecord.attributes.report.started_at" %></th>
        <th><%=t "activerecord.attributes.report.finished_at" %></th>
        <th><%=t "activerecord.attributes.report.working_hours" %></th>
        <th><%=t "activerecord.attributes.report.rest_hours" %></th>
        <th><%=t "activerecord.attributes.report.real_working_hours" %></th>
      </tr>
      <tr>
        <td><%= @report.car.name %></td>
        <td><%= @report.driver.name %></td>
        <td>
          <% if @report.started_at %>
          <%= @report.started_at.strftime("%H時%M分") %>
          <% end %>
        </td>
        <td>
          <% if @report.finished_at %>
          <%= @report.finished_at.strftime("%H時%M分") %>
          <% end %>
        </td>
        <td>
          <% if @report.finished_at %>
          <%= (@report.finished_at - @report.started_at).divmod(60*60)[0] %>時間
          <%= (@report.finished_at - @report.started_at).divmod(60*60)[1].divmod(60)[0] %>分
          <% end %>
        </td>
        <td>
          <% if @estimated_rest %>
          <%= @estimated_rest[0] %>時間
          <%= @estimated_rest[1] %>分
          <% end %>
        </td>
        <td>
          <% if @report.finished_at %>
          <%= ((@report.finished_at - @report.started_at).to_i - (@estimated_rest[0]*60*60 + @estimated_rest[1]*60)).divmod(60*60)[0] %>時間
          <%= ((@report.finished_at - @report.started_at).to_i - (@estimated_rest[0]*60*60 + @estimated_rest[1]*60)).divmod(60*60)[1].divmod(60)[0] %>分
          <% end %>
        </td>
      </tr>
    </table>

    <table class="table table-striped table-bordered table-hoverw">
      <tr>
        <th></th>
        <th><%=t "activerecord.attributes.report.meter" %></th>
        <th><%=t "activerecord.attributes.report.mileage" %></th>
        <th><%=t "activerecord.attributes.report.riding_mileage" %></th>
        <th><%=t "activerecord.attributes.report.riding_count" %></th>
        <th><%=t "activerecord.attributes.report.meter_fare_count" %></th>
      </tr>
      <tr>
        <th><%=t "label.meter.finish" %></th>
        <td><% if @report.meter %><%= number_with_delimiter @report.meter.meter %>km<% end %></td>
        <td><% if @report.meter %><%= number_with_delimiter @report.meter.mileage %>km<% end %></td>
        <td><% if @report.meter %><%= number_with_delimiter @report.meter.riding_mileage %>km<% end %></td>
        <td><% if @report.meter %><%= number_with_delimiter @report.meter.riding_count %>回<% end %></td>
        <td><% if @report.meter %><%= number_with_delimiter @report.meter.meter_fare_count %>回<% end %></td>
      </tr>
      <tr>
        <th><%=t "label.meter.start" %></th>
        <td><%= number_with_delimiter @last_meter.try(:meter) %><% if @last_meter.try(:meter) %>km<% end %></td>
        <td><%= number_with_delimiter @last_meter.try(:mileage) %><% if @last_meter.try(:mileage) %>km<% end %></td>
        <td><%= number_with_delimiter @last_meter.try(:riding_mileage) %><% if @last_meter.try(:riding_mileage) %>km<% end %></td>
        <td><%= number_with_delimiter @last_meter.try(:riding_count) %><% if @last_meter.try(:riding_count) %>回<% end %></td>
        <td><%= number_with_delimiter @last_meter.try(:meter_fare_count) %><% if @last_meter.try(:meter_fare_count) %>回<% end %></td>
      </tr>
      <tr>
        <th><%=t "label.meter.balance" %></th>
        <td><% if @report.meter.try(:meter) && @last_meter.try(:meter) %><%= number_with_delimiter @report.meter.meter - @last_meter.meter %>km<% end %></td>
        <td><% if @report.meter.try(:mileage) && @last_meter.try(:mileage) %><%= number_with_delimiter @report.meter.mileage - @last_meter.mileage %>km<% end %></td>
        <td><% if @report.meter.try(:riding_mileage) && @last_meter.try(:riding_mileage) %><%= number_with_delimiter @report.meter.riding_mileage - @last_meter.riding_mileage %>km<% end %></td>
        <td><% if @report.meter.try(:riding_count) && @last_meter.try(:riding_count) %><%= number_with_delimiter @report.meter.riding_count - @last_meter.riding_count %>回<% end %></td>
        <td><% if @report.meter.try(:meter_fare_count) && @last_meter.try(:meter_fare_count) %><%= number_with_delimiter @report.meter.meter_fare_count - @last_meter.meter_fare_count %>回<% end %></td>
      </tr>
    </table>

    <table class="table table-striped table-bordered table-hoverw">
      <tr>
        <th><%=t "activerecord.attributes.report.passengers" %></th>
        <th><%=t "activerecord.attributes.report.riding_rate" %></th>
        <th><%=t "activerecord.attributes.report.sales_per_kilometer" %></th>
      </tr>
      <tr>
        <td><%= number_with_delimiter @report.passengers %><% if @report.passengers %>人<% end %></td>
        <td><%= number_to_percentage(@report.riding_mileage*100/@report.mileage, :precision => 0) rescue "" %></td>
        <td><%= number_to_currency(@report.sales/@report.mileage, :precision => 0, :locale => "ja") rescue "" %></td>
      </tr>
    </table>
  </div>
</div>
<div class="clear"></div>

<div class="right">
  <div class="sales">
    <h3><%=t "activerecord.models.report" %></h3>
    <table class="table table-striped table-bordered table-hoverw minimize">
      <tr>
        <th><%=t "label.meter.riding_count_sales" %></th>
        <td>
          <% if @report.riding_count %>
            <%= number_to_currency @report.car.base_fare*@report.riding_count %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th><%=t "label.meter.meter_fare_count_sales" %></th>
        <td>
          <% if @report.meter_fare_count %>
            <%= number_to_currency @report.car.meter_fare*@report.meter_fare_count %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th><%=t "activerecord.attributes.report.sales" %></th>
        <td><%= number_to_currency @report.sales, :locale => "ja" %></td>
      </tr>
      <tr>
        <th><%=t "label.meter.extra_sales" %></th>
        <td><%= number_to_currency @report.extra_sales, :locale => "ja" %></td>
      </tr>
      <tr>
        <th><%=t "activerecord.attributes.report.fuel_cost" %></th>
        <td><%= number_to_currency @report.fuel_cost, :locale => "ja" %></td>
      </tr>
      <tr>
        <th><%=t "activerecord.attributes.report.ticket" %></th>
        <td><%= number_to_currency @report.ticket, :locale => "ja" %></td>
      </tr>
      <tr>
        <th><%=t "activerecord.attributes.report.account_receivable" %></th>
        <td><%= number_to_currency @report.account_receivable, :locale => "ja" %></td>
      </tr>
      <tr>
        <th><%=t "activerecord.attributes.report.surplus_funds" %></th>
        <td><%= number_to_currency @report.surplus_funds, :locale => "ja" %></td>
      </tr>
      <tr>
        <th><%=t "activerecord.attributes.report.deficiency_account" %></th>
        <td><%= number_to_currency @report.deficiency_account, :locale => "ja" %></td>
      </tr>
      <tr>
        <th><%=t "activerecord.attributes.report.advance" %></th>
        <td><%= number_to_currency @report.advance, :locale => "ja" %></td>
      </tr>
      <tr>
        <th><%=t "activerecord.attributes.report.cash" %></th>
        <td><%= number_to_currency @report.cash, :locale => "ja" %></td>
      </tr>
    </table>
  </div>
</div>

<div class="check_point">
  <h3><%=t "activerecord.models.check_point" %></h3>
  <table class="table table-striped table-bordered table-hoverw square">
    <tr>
      <% @check_points.each do |check_point| %>
      <th><%= check_point.name %></th>
      <% end %>
    </tr>
    <tr>
      <% for i in 0..@check_points.size - 1 %>
      <td></td>
      <% end %>
    </tr>
  </table>
</div>

<% if @report.rests %>
<div class="rest">
  <h3><%=t "activerecord.models.rest" %></h3>
  <div class="left">
    <table class="table table-striped table-bordered table-hoverw">
      <tr>
        <th class="middle"><%=t "label.ride.index" %></th>
        <th><%=t "activerecord.attributes.rest.location" %></th>
        <th><%=t "activerecord.attributes.rest.started_at" %></th>
        <th><%=t "activerecord.attributes.rest.ended_at" %></th>
        <th><%=t "label.rest.time" %></th>
      </tr>
      <% @report.rests.each_with_index do |rest, i| %>
      <% if i <= @report.rests.size/2 %>
         <tr>
           <td><%= i + 1 %></td>
           <td><%= rest.location %></td>
           <td><%= rest.started_at.strftime("%-m月%-d日 %H時%M分") %></td>
           <td><%= rest.ended_at.strftime("%-m月%-d日 %H時%M分") %></td>
           <td>
             <%= (rest.ended_at - rest.started_at).divmod(60*60)[0] %>時間
             <%= (rest.ended_at - rest.started_at).divmod(60*60)[1].divmod(60)[0]%>分
           </td>
         </tr>
         <% end %>
         <% end %>
    </table>
  </div>

  <div class="right">
    <table class="table table-striped table-bordered table-hoverw">
      <tr>
        <th><%=t "label.ride.index" %></th>
        <th><%=t "activerecord.attributes.rest.location" %></th>
        <th><%=t "activerecord.attributes.rest.started_at" %></th>
        <th><%=t "activerecord.attributes.rest.ended_at" %></th>
        <th><%=t "label.rest.time" %></th>
      </tr>
      <% @report.rests.each_with_index do |rest, i| %>
      <% if i > @report.rests.size/2 %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= rest.location %></td>
        <td><%= rest.started_at.strftime("%-m月%-d日 %H時%M分") %></td>
        <td><%= rest.ended_at.strftime("%-m月%-d日 %H時%M分") %></td>
        <td>
          <%= (rest.ended_at - rest.started_at).divmod(60*60)[0] %>時間
          <%= (rest.ended_at - rest.started_at).divmod(60*60)[1].divmod(60)[0]%>分
        </td>
      </tr>
      <% end %>
      <% end %>
      <tr>
        <th colspan="4"><%=t "activerecord.attributes.rest.estimated_rest" %></th>
        <td><% if @estimated_rest %><%= @estimated_rest[0] %>時間<%= @estimated_rest[1] %>分<% end %></td>
      </tr>
    </table>
  </div>
</div>
<% end %>

<% if @report.rides %>
<div class="ride">
  <h3><%=t "activerecord.models.ride" %></h3>
  <div class="left">
    <table class="table table-striped table-bordered table-hoverw">
      <tr>
        <th><%=t "label.ride.index" %></th>
        <th><%=t "activerecord.attributes.ride.ride_address" %></th>
        <th><%=t "activerecord.attributes.ride.leave_address" %></th>
        <th><%=t "activerecord.attributes.ride.passengers" %></th>
        <th><%=t "activerecord.attributes.ride.fare" %></th>
      </tr>
      <% @report.rides.each_with_index do |ride, i| %>
      <% if i <= @report.rides.size/2 %>
         <tr>
           <td><%= i + 1 %></td>
           <td class="wide"><%= ride.ride_address %></td>
           <td class="wide"><%= ride.leave_address %></td>
           <td><%= ride.passengers %></td>
           <td><%= number_with_delimiter ride.fare %></td>
         </tr>
         <% end %>
         <% end %>
    </table>
  </div>

  <div class="right">
    <table class="table table-striped table-bordered table-hoverw">
      <tr>
        <th><%=t "label.ride.index" %></th>
        <th><%=t "activerecord.attributes.ride.ride_address" %></th>
        <th><%=t "activerecord.attributes.ride.leave_address" %></th>
        <th><%=t "activerecord.attributes.ride.passengers" %></th>
        <th><%=t "activerecord.attributes.ride.fare" %></th>
      </tr>
      <% @report.rides.each_with_index do |ride, i| %>
      <% if i > @report.rides.size/2 %>
      <tr>
        <td><%= i + 1 %></td>
        <td class="wide"><%= ride.ride_address %></td>
        <td class="wide"><%= ride.leave_address %></td>
        <td><%= ride.passengers %></td>
        <td><%= number_with_delimiter ride.fare %></td>
      </tr>
      <% end %>
      <% end %>
      <% if  @report.rides.size % 2 == 1 %>
      <tr>
        <th>　</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
<% end %>
