<%= form_for(@transfer_slip) do |f| %>
  <% if @transfer_slip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transfer_slip.errors.count, "error") %> prohibited this transfer_slip from being saved:</h2>

      <ul>
        <% @transfer_slip.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @transfer_slip.report_id %>
    <%= f.hidden_field :report_id, :value => @transfer_slip.report_id %>
  <% else %>
    <%= f.hidden_field :report_id, :value => params[:report_id] %>
  <% end %>
  <table class="table table-striped table-bordered">
    <tr>
      <th>
        <%= f.label :debit_amount %>
      </th>
      <th>
        <%= f.label :debit %>
      </th>
      <th>
        <%= f.label :note %>
      </th>
      <th>
        <%= f.label :credit %>
      </th>
      <th>
        <%= f.label :credit_amount %>
      </th>
    </tr>
    <tr>
      <td class="middle">
        <%= f.number_field :debit_amount, :class => "input-small" %>
      </td>
      <td class="middle">
        <%= f.text_field :debit %>
      </td>
      <td class="middle">
        <%= f.text_field :note %>
      </td>
      <td class="middle">
        <% if params[:credit] %>
          <%= f.select :credit, options_for_select(@credit_options, params[:credit]) %>
        <% else %>
          <%= f.select :credit, options_for_select(@credit_options) %>
        <% end %>
      </td>
      <td class="middle">
        <%= f.number_field :credit_amount, :class => "input-small" %>
      </td>
    </tr>
  </table>

  <div class="actions">
    <%= f.submit :class => "btn" %>
  </div>
<% end %>
