<h1>
  <% if @report %>
    <%= @report.started_at.strftime("%Y年%m月%d日") %>
    <%= @report.car.name %>（<%= @report.driver.name %>）
  <% else %>
    <%= "#{params[:year]}年#{params[:month]}月#{params[:day]}日" %>
  <% end %>
  <%= t("activerecord.models.transfer_slip") %><%=  t("link.index") %>
</h1>

<table class="table table-striped table-bordered">
  <tr>
    <th><%=t "activerecord.attributes.transfer_slip.debit_amount" %></th>
    <th><%=t "activerecord.attributes.transfer_slip.debit" %></th>
    <th><%=t "activerecord.attributes.transfer_slip.note" %></th>
    <th><%=t "activerecord.attributes.transfer_slip.credit" %></th>
    <th><%=t "activerecord.attributes.transfer_slip.credit_amount" %></th>
    <th></th>
  </tr>

<% @transfer_slips.each do |transfer_slip| %>
  <tr>
    <td class="middle"><%= number_to_currency transfer_slip.debit_amount, :local => "ja" %></td>
    <td class="middle span4"><%= transfer_slip.debit %></td>
    <td class="middle"><%= transfer_slip.note %></td>
    <td class="middle span4"><%= transfer_slip.credit %></td>
    <td class="middle"><%= number_to_currency transfer_slip.credit_amount, :local => "ja" %></td>
    <td class="middle">
      <%= link_to t("link.edit"), edit_transfer_slip_path(transfer_slip), :class => "btn" %>
      <%= link_to t("link.destroy"), transfer_slip, method: :delete, data: { confirm: t("message.destroy_confirmation") }, :class => "btn" %></td>
  </tr>
<% end %>
</table>

<br />

<% if @report %>
  <%= link_to t("link.back"), report_path(@report), :class => "btn" %>
  <%= link_to t("link.new"), "#{new_transfer_slip_path}/report/#{@report.id}", :class => "btn" %>
<% else %>
  <%= link_to t("link.back"), "#{reports_path}/#{params[:year]}/#{params[:month]}/#{params[:day]}", :class => "btn" %>
  <%= link_to t("link.new"), "#{new_transfer_slip_path}/#{params[:year]}/#{params[:month]}/#{params[:day]}", :class => "btn" %>
<% end %>

