<h1><%= t("link.new") %><%= t("activerecord.models.transfer_slip") %></h1>

<%= render 'form' %>

<% if params[:report_id] %>
  <%= link_to t("link.back"), report_path(@report), :class => "btn" %>
<% else %>
  <%= link_to t("link.back"), "#{reports_path}/#{params[:year]}/#{params[:month]}/#{params[:day]}", :class => "btn" %>
<% end %>
