<h2><%=t "link.user.reset_password" %></h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.submit t("link.user.reset_password") %></div>
<% end %>

<%= render :partial => "users/shared/links" %>
