<h1><%= t("activerecord.models.driver") %><%= t("link.index") %></h1>

<%= form_for Driver.new, :url => drivers_path, :remote => true, :html => {:method => :get} do |f| %>
  <%= f.search_field :name %>
  <%= f.submit t("link.search"), :class => "btn" %>
<% end %>

<%= paginate @drivers %>
<table class="table table-striped table-bordered table-hover">
  <tr>
    <th><%=t "activerecord.attributes.driver.name" %></th>
    <th><%=t "activerecord.attributes.driver.email" %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <tbody id="drivers">
    <%= render @drivers %>
  </tbody>
</table>

<br />
<%= paginate @drivers %>

<%= link_to t("link.new") + t("activerecord.models.driver"), new_driver_path, :class => "btn" %>
