<table class="table table-striped table-bordered table-hover table-narrow">
  <tr>
    <th><%=t "activerecord.attributes.driver.name" %></th>
    <th><%=t "activerecord.attributes.driver.email" %></th>
  </tr>
  <tr>
    <td><%= @driver.name %></td>
    <td><%= @driver.email %></td>
    <td><%= @driver.tc_user_id %></td>
  </tr>
</table>

<%= render "reports/reports" %>

<%= link_to t("link.new"), new_driver_path, :class => "btn" %>
<%= link_to t("link.edit"), edit_driver_path(@driver), :class => "btn" %>
<%= link_to t("link.back"), drivers_path, :class => "btn" %>
