<h1><%= render "reports/date" %><%= t("activerecord.models.driver") %><%=  t("link.driver.show") %>（<%= link_to @driver.name, driver_path(@driver) %>）</h1>

<%= render "reports" %>

<%= link_to t("link.edit"), edit_driver_path(@driver), :class => "btn" %>
<%= link_to t("link.back"), drivers_path, :class => "btn" %>
