<p id="notice"><%= notice %></p>

<p>
  <b><%=t "activerecord.attributes.driver.name" %></b>
  <%= @driver.name %>
</p>

<p>
  <b><%=t "activerecord.attributes.driver.birthday" %></b>
  <%= @driver.birthday %>
</p>

<p>
  <b><%=t "activerecord.attributes.driver.blood_type" %></b>
  <%= @driver.blood_type %>
</p>

<p>
  <b><%=t "activerecord.attributes.driver.licence_number" %></b>
  <%= @driver.licence_number %>
</p>

<p>
  <b><%=t "activerecord.attributes.driver.start_working_at" %></b>
  <%= @driver.start_working_at %>
</p>


<%= link_to t("link.edit"), edit_driver_path(@driver) %> |
<%= link_to t("link.back"), drivers_path %>
