<p id="notice"><%= notice %></p>

<table class="table table-striped table-bordered table-hover table-narrow">
  <tr>
    <th><%=t "activerecord.attributes.driver.name" %></th>
    <td><%= @driver.name %></td>
  </tr>

  <tr>
    <th><%=t "activerecord.attributes.driver.birthday" %></th>
    <td><%= @driver.birthday %></td>
  </tr>

  <tr>
    <th><%=t "activerecord.attributes.driver.blood_type" %></th>
    <td><%= @driver.blood_type %></td>
  </tr>

  <tr>
    <th><%=t "activerecord.attributes.driver.licence_number" %></th>
    <td><%= @driver.licence_number %></td>
  </tr>

  <tr>
    <th><%=t "activerecord.attributes.driver.start_working_at" %></th>
    <td><%= @driver.start_working_at %></td>
  </tr>
</table>

<%= link_to t("link.edit"), edit_driver_path(@driver) %> |
<%= link_to t("link.back"), drivers_path %>
