<h1><%= render "reports/date" %><%= t("activerecord.models.driver") %><%=  t("link.driver.show") %>（<%= link_to @driver.name, driver_path(@driver) %>）</h1>

<% if params[:day] %>
  <%= render "daily_reports" %>
<% elsif params[:month] %>
  <%= render "monthly_reports" %>
<% end %>

<% unless params[:day] %>
  <%= high_chart("chart", @chart) %>
<% end %>

<%= link_to t("link.edit"), edit_driver_path(@driver), :class => "btn" %>
<%= link_to t("link.document.index"), "#{documents_path}/drivers/#{@driver.id}/#{params[:year]}/#{params[:month]}", :class => "btn", :target => "_blank" %>
<%= link_to t("link.back"), drivers_path, :class => "btn" %>
