<h1><%= t("activerecord.models.car") %><%=  t("link.index") %></h1>

<%= form_for Car.new, :url => cars_path, :remote => true, :html => {:method => :get} do |f| %>
  <%= f.search_field :name %>
  <%= f.submit t("link.search") %>
<% end %>

<table class="table table-striped table-bordered">
  <tr>
    <th><%=t("activerecord.attributes.car.name") %></th>
    <th><%=t("activerecord.attributes.car.base_fare") %></th>
    <th><%=t("activerecord.attributes.car.meter_fare") %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <tbody id="cars">
    <%= render @cars %>
  </tbody>
</table>

<br />

<%= link_to t("link.new"), new_car_path, :class => "btn" %>
