<h1><%= t("activerecord.models.car") %><%=  t("link.index") %></h1>

<table class="table table-striped table-bordered">
  <tr>
    <th><%=t("activerecord.attributes.car.name") %></th>
    <th><%=t("activerecord.attributes.car.car_type") %></th>
    <th><%=t("activerecord.attributes.car.car_model") %></th>
    <th><%=t("activerecord.attributes.car.base_fare") %></th>
    <th><%=t("activerecord.attributes.car.meter_fare") %></th>
    <th><%=t("activerecord.attributes.car.twitter_id") %></th>
    <th><%=t("activerecord.attributes.car.twitter_name") %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cars.each do |car| %>
  <tr>
    <td><%= car.name %></td>
    <td><%= car.car_type %></td>
    <td><%= car.car_model %></td>
    <td><%= car.base_fare %></td>
    <td><%= car.meter_fare %></td>
    <td><%= car.twitter_id %></td>
    <td><%= car.twitter_name %></td>
    <td><%= link_to t("link.show"), car %></td>
    <td><%= link_to t("link.edit"), edit_car_path(car) %></td>
    <td><%= link_to t("link.destroy"), car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t("link.new"), new_car_path, :class => "btn" %>
