<h1><%= render "reports/date" %><%= t("activerecord.models.car") %><%=  t("link.car.show") %>（<%= link_to @car.name, car_path(@car) %>）</h1>

<%= render "reports" %>

<% unless params[:day] %>
  <%= high_chart("bar", @chart) %>
<% end %>

<%= link_to t("link.new") + t("activerecord.models.report"), "#{new_report_path}?car_id=#{@car.id}", :class => "btn" %>
<%= link_to t("link.back"), cars_path, :class => "btn" %>
