<h1><%= t("activerecord.models.car") %><%=  t("link.show") %></h1>

<table class="table table-striped table-bordered table-hover table-narrow">
  <tr>
    <th><%=t("activerecord.attributes.car.name") %></th>
    <th><%=t("activerecord.attributes.car.base_fare") %></th>
    <th><%=t("activerecord.attributes.car.meter_fare") %></th>
  </tr>
  <tr>
    <td><%= @car.name %></td>
    <td><%= @car.base_fare %></td>
    <td><%= @car.meter_fare %></td>
  </tr>
</table>

<%= render "reports/reports" %>

<%= link_to t("link.new"), new_car_path, :class => "btn" %>
<%= link_to t("link.edit"), edit_car_path(@car), :class => "btn" %>
<%= link_to t("link.back"), cars_path, :class => "btn" %>
