<p id="notice"><%= notice %></p>

<p>
  <b><%=t("activerecord.attributes.car.name") %></b>
  <%= @car.name %>
</p>

<p>
  <b><%=t("activerecord.attributes.car.car_type") %></b>
  <%= @car.car_type %>
</p>

<p>
  <b><%=t("activerecord.attributes.car.car_model") %></b>
  <%= @car.car_model %>
</p>

<p>
  <b><%=t("activerecord.attributes.car.base_fare") %></b>
  <%= @car.base_fare %>
</p>

<p>
  <b><%=t("activerecord.attributes.car.meter_fare") %></b>
  <%= @car.meter_fare %>
</p>


<%= link_to t("link.edit"), edit_car_path(@car) %> |
<%= link_to t("link.back"), cars_path %>
