<h1><%= render "reports/date" %><%= t("activerecord.models.car") %><%=  t("link.car.show") %>（<%= @car.name %>）</h1>

<%= render "reports" %>

<%= link_to t("link.new"), new_car_path, :class => "btn" %>
<%= link_to t("link.edit"), edit_car_path(@car), :class => "btn" %>
<%= link_to t("link.back"), cars_path, :class => "btn" %>
