<%= form_for(@rest) do |f| %>
  <% if @rest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rest.errors.count, "error") %> prohibited this rest from being saved:</h2>

      <ul>
        <% @rest.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= t("activerecord.models.driver") %>
    <% if @rest.report %>
      <%= @rest.report.driver.name %>
    <% else %>
      <%= f.hidden_field :report_id, :value => @report.id %>
      <%= @report.driver.name %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :started_at %><br />
    <%= f.datetime_select :started_at, :default => @report.started_at %>
  </div>
  <div class="field">
    <%= f.label :ended_at %><br />
    <%= f.datetime_select :ended_at, :default => @report.started_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
