<h1><%= t("activerecord.models.report") %><%= t("link.edit") %></h1>

<%= render 'form' %>

<%= link_to t("link.show"), @rest, :class => "btn" %>
<%= link_to t("link.back"), report_path(@rest.report), :class => "btn" %>
