<h1><%= t("activerecord.models.rest") %><%= t("link.edit") %></h1>

<%= render 'form' %>

<%= link_to t("link.destroy"), @rest, method: :delete, data: { confirm: t("message.destroy_confirmation") }, :class => "btn" %>
<%= link_to t("link.back"), report_path(@rest.report), :class => "btn" %>
