<%= render "reports/months" %>
<%= render "days" %>

<table class="table table-striped table-bordered table-hover">
  <tr>
    <th><%=t "activerecord.attributes.report.date" %></th>
    <th><%=t "activerecord.attributes.report.mileage" %></th>
    <th><%=t "activerecord.attributes.report.riding_mileage" %></th>
    <th><%=t "activerecord.attributes.report.riding_rate" %></th>
    <th><%=t "activerecord.attributes.report.riding_count" %></th>
    <th><%=t "activerecord.attributes.report.meter_fare_count" %></th>
    <th><%=t "activerecord.attributes.report.passengers" %></th>
    <th><%=t "activerecord.attributes.report.sales" %></th>
    <th><%=t "activerecord.attributes.report.sales_per_kilometer" %></th>
    <th><%=t "activerecord.attributes.report.fuel_cost" %></th>
    <th><%=t "activerecord.attributes.report.ticket" %></th>
    <th><%=t "activerecord.attributes.report.account_receivable" %></th>
    <th><%=t "activerecord.attributes.report.cash" %></th>
    <th><%=t "activerecord.attributes.report.surplus_funds" %></th>
    <th><%=t "activerecord.attributes.report.deficiency_account" %></th>
    <th><%=t "activerecord.attributes.report.advance" %></th>
    <th></th>
  </tr>

  <% for i in 1..Date.new(params[:year].to_i, params[:month].to_i, - 1).day %>
    <tr>
      <td>
        <% if Date.new(params[:year].to_i, params[:month].to_i, i).strftime("%w") == "0" %>
        <%= link_to Date.new(params[:year].to_i, params[:month].to_i, i).strftime("%-d日(#{%w(日 月 火 水 木 金 土)[Date.new(params[:year].to_i, params[:month].to_i, i).wday]})"), "#{reports_path}/#{params[:year]}/#{params[:month]}/#{i}", :class => "red" %>
        <% elsif Date.new(params[:year].to_i, params[:month].to_i, i).strftime("%w") == "6" %>
        <%= link_to Date.new(params[:year].to_i, params[:month].to_i, i).strftime("%-d日(#{%w(日 月 火 水 木 金 土)[Date.new(params[:year].to_i, params[:month].to_i, i).wday]})"), "#{reports_path}/#{params[:year]}/#{params[:month]}/#{i}", :class => "blue" %>
        <% else %>
        <%= link_to Date.new(params[:year].to_i, params[:month].to_i, i).strftime("%-d日(#{%w(日 月 火 水 木 金 土)[Date.new(params[:year].to_i, params[:month].to_i, i).wday]})"), "#{reports_path}/#{params[:year]}/#{params[:month]}/#{i}" %>
        <% end %>
      </td>
      <td><%= number_with_delimiter @sales_hash[i][:mileage] %><% if @sales_hash[i][:mileage] %>Km<% end %></td>
      <td><%= number_with_delimiter @sales_hash[i][:riding_mileage] %><% if @sales_hash[i][:riding_mileage] %>Km<% end %></td>
      <td><%= number_to_percentage(@sales_hash[i][:riding_mileage]*100/@sales_hash[i][:mileage], :precision => 0) rescue "" %></td>
      <td><%= number_with_delimiter @sales_hash[i][:riding_count] %><% if @sales_hash[i][:riding_count] %>回<% end %></td>
      <td><%= number_with_delimiter @sales_hash[i][:meter_fare_count] %><% if @sales_hash[i][:meter_fare_count] %>回<% end %></td>
      <td><%= number_with_delimiter @sales_hash[i][:passengers] %><% if @sales_hash[i][:passengers] %>人<% end %></td>
      <td><%= number_to_currency @sales_hash[i][:sales], :locale => "ja" %></td>
      <td><%= number_to_currency(@sales_hash[i][:sales]/@sales_hash[i][:mileage], :precision => 0, :locale => "ja") rescue "" %></td>
      <td><%= number_to_currency @sales_hash[i][:fuel_cost], :locale => "ja" %></td>
      <td><%= number_to_currency @sales_hash[i][:ticket], :locale => "ja" %></td>
      <td><%= number_to_currency @sales_hash[i][:account_receivable], :locale => "ja" %></td>
      <td><%= number_to_currency @sales_hash[i][:cash], :locale => "ja" %></td>
      <td><%= number_to_currency @sales_hash[i][:surplus_funds], :locale => "ja" %></td>
      <td><%= number_to_currency @sales_hash[i][:deficiency_account], :locale => "ja" %></td>
      <td><%= number_to_currency @sales_hash[i][:advance], :locale => "ja" %></td>
      <td><%= link_to t("link.show"), "#{reports_path}/#{params[:year]}/#{params[:month]}/#{i}" %></td>
    </tr>
  <% end %>

  <tr>
    <th rowspan="2" class="middle"><%=t "activerecord.attributes.report.sum" %></th>
    <th><%=t "activerecord.attributes.report.mileage" %></th>
    <th><%=t "activerecord.attributes.report.riding_mileage" %></th>
    <th><%=t "activerecord.attributes.report.riding_rate" %></th>
    <th><%=t "activerecord.attributes.report.riding_count" %></th>
    <th><%=t "activerecord.attributes.report.meter_fare_count" %></th>
    <th><%=t "activerecord.attributes.report.passengers" %></th>
    <th><%=t "activerecord.attributes.report.sales" %></th>
    <th><%=t "activerecord.attributes.report.sales_per_kilometer" %></th>
    <th><%=t "activerecord.attributes.report.fuel_cost" %></th>
    <th><%=t "activerecord.attributes.report.ticket" %></th>
    <th><%=t "activerecord.attributes.report.account_receivable" %></th>
    <th><%=t "activerecord.attributes.report.cash" %></th>
    <th><%=t "activerecord.attributes.report.surplus_funds" %></th>
    <th><%=t "activerecord.attributes.report.deficiency_account" %></th>
    <th><%=t "activerecord.attributes.report.advance" %></th>
    <th rowspan="2"></th>
  </tr>

  <tr class="info">
    <!-- <td></td> -->
    <td><%= number_with_delimiter @mileage %><% if @mileage %>Km<% end %></td>
    <td><%= number_with_delimiter @riding_mileage %><% if @riding_mileage %>Km<% end %></td>
    <td><%= number_to_percentage(@riding_mileage*100/@mileage, :precision => 0) rescue "" %></td>
    <td><%= number_with_delimiter @riding_count %><% if @riding_count %>回<% end %></td>
    <td><%= number_with_delimiter @meter_fare_count %><% if @meter_fare_count %>回<% end %></td>
    <td><%= number_with_delimiter @passengers %><% if @passengers %>人<% end %></td>
    <td><%= number_to_currency @sales, :locale => "ja" %></td>
    <td><%= number_to_currency(@sales/@mileage, :precision => 0, :locale => "ja") rescue "" %></td>
    <td><%= number_to_currency @fuel_cost, :locale => "ja" %></td>
    <td><%= number_to_currency @ticket, :locale => "ja" %></td>
    <td><%= number_to_currency @account_receivable, :locale => "ja" %></td>
    <td><%= number_to_currency @cash, :locale => "ja" %></td>
    <td><%= number_to_currency @surplus_funds, :locale => "ja" %></td>
    <td><%= number_to_currency @deficiency_account, :locale => "ja" %></td>
    <td><%= number_to_currency @advance, :locale => "ja" %></td>
    <!-- <td></td> -->
  </tr>
</table>
