<table class="table table-striped table-bordered table-hover">
  <tr>
    <th><%=t "activerecord.attributes.report.driver" %></th>
    <th><%=t "activerecord.attributes.report.mileage" %></th>
    <th>
      <%=t "activerecord.attributes.report.riding_mileage" %> /<br />
      <%=t "activerecord.attributes.report.riding_rate" %>
    </th>
    <th>
      <%=t "activerecord.attributes.report.riding_count" %> /<br />
      <%=t "activerecord.attributes.report.meter_fare_count" %>
    </th>
    <th><%=t "activerecord.attributes.report.passengers" %></th>
    <th><%=t "activerecord.attributes.report.sales" %></th>
    <th><%=t "activerecord.attributes.report.extra_sales" %></th>
    <th><%=t "activerecord.attributes.report.sales_per_kilometer" %></th>
    <th><%=t "views.report.fuel_cost_gas" %></th>
    <th><%=t "activerecord.attributes.report.fuel_cost_lpg" %></th>
    <th><%=t "activerecord.attributes.report.cash" %></th>
    <th><%=t "activerecord.attributes.report.ticket" %></th>
    <th><%=t "activerecord.attributes.report.advance" %></th>
    <th><%=t "activerecord.attributes.report.account_receivable" %></th>
    <th><%=t "activerecord.attributes.report.surplus_funds" %></th>
    <th><%=t "activerecord.attributes.report.deficiency_account" %></th>
    <th></th>
    <th></th>
  </tr>
  <% @drivers.each do |driver| %>
  <tr>
    <td><%= link_to driver.name, "#{driver_path driver}/#{params[:year]}/#{params[:month]}" %></td>
    <td><%= number_with_delimiter @drivers_hash[driver.id][:mileage] %><% if @drivers_hash[driver.id][:mileage] %>km<% end %></td>
    <td>
      <%= number_with_delimiter @drivers_hash[driver.id][:riding_mileage] %><% if @drivers_hash[driver.id][:riding_mileage] %>km<% end %><br />
      <%= "（#{number_to_percentage(@drivers_hash[driver.id][:riding_mileage]*100/@drivers_hash[driver.id][:mileage], :precision => 0)}）" rescue "" %>
    </td>
    <td>
      <%= number_with_delimiter @drivers_hash[driver.id][:riding_count] %><% if @drivers_hash[driver.id][:riding_count] %>回<% end %><br />
      <%= number_with_delimiter @drivers_hash[driver.id][:meter_fare_count] %><% if @drivers_hash[driver.id][:meter_fare_count] %>回<% end %>
    </td>
    <td><%= number_with_delimiter @drivers_hash[driver.id][:passengers] %><% if @drivers_hash[driver.id][:passengers] %>人<% end %></td>
    <td><%= number_to_currency @drivers_hash[driver.id][:sales], :locale => "ja" %></td>
    <td><%= number_to_currency @drivers_hash[driver.id][:extra_sales], :locale => "ja" %></td>
    <td><%= number_to_currency((@drivers_hash[driver.id][:sales] + @drivers_hash[driver.id][:extra_sales])/@drivers_hash[driver.id][:mileage], :precision => 0, :locale => "ja") rescue "" %></td>
    <td><%= number_to_currency @drivers_hash[driver.id][:fuel_cost], :locale => "ja" %></td>
    <td><%= number_to_currency @drivers_hash[driver.id][:fuel_cost_lpg], :locale => "ja" %></td>
    <td><%= number_to_currency @drivers_hash[driver.id][:cash], :locale => "ja" %></td>
    <td><%= number_to_currency @drivers_hash[driver.id][:ticket], :locale => "ja" %></td>
    <td><%= number_to_currency @drivers_hash[driver.id][:advance], :locale => "ja" %></td>
    <td><%= number_to_currency @drivers_hash[driver.id][:account_receivable], :locale => "ja" %></td>
    <td><%= number_to_currency @drivers_hash[driver.id][:surplus_funds], :locale => "ja" %></td>
    <td><%= number_to_currency @drivers_hash[driver.id][:deficiency_account], :locale => "ja" %></td>
    <td><%= link_to t("link.show"), "#{driver_path driver}/#{params[:year]}/#{params[:month]}", :class => "btn" %></td>
    <td><%= link_to t("link.document.driver"), "#{documents_path}/drivers/#{driver.id}/#{params[:year]}/#{params[:month]}.pdf", :target => "_blank", :class => "btn" %></td>
  </tr>
  <% end %>
</table>
