<%= form_for(@report) do |f| %>
  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% @report.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :driver %>
    <%= f.select :driver_id, options_for_select(@drivers_option, @report.driver_id) %>
    <%#= f.select :driver_id, options_from_collection_for_select(Driver.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :car %>
    <%= f.select :car_id, options_for_select(@cars_option, @report.car_id) %>
    <%#= f.select :car_id, options_from_collection_for_select(Car.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :meter %>
    <%= f.number_field :meter, :value => @report.meter.try(:meter) || @report.last_meter.meter %>
  </div>
  <div class="field">
    <%= f.label :mileage %>
    <%= f.number_field :mileage, :value => @report.meter.try(:mileage) || @report.last_meter.mileage %>
  </div>
  <div class="field">
    <%= f.label :riding_mileage %>
    <%= f.number_field :riding_mileage, :value => @report.meter.try(:riding_mileage) || @report.last_meter.riding_mileage %>
  </div>
  <div class="field">
    <%= f.label :riding_count %>
    <%= f.number_field :riding_count, :value => @report.meter.try(:riding_count) || @report.last_meter.riding_count %>
  </div>
  <div class="field">
    <%= f.label :meter_fare_count %>
    <%= f.number_field :meter_fare_count, :value => @report.meter.try(:meter_fare_count) || @report.last_meter.meter_fare_count %>
  </div>
  <div class="field">
    <%= f.label :passengers %>
    <%= f.number_field :passengers %>
  </div>
  <div class="field">
    <%= f.label :sales %>
    <%= f.number_field :sales %>
  </div>
  <div class="field">
    <%= f.label :extra_sales %>
    <%= f.number_field :extra_sales %>
  </div>
  <div class="field">
    <%= f.label :fuel_cost %>
    <%= f.number_field :fuel_cost %>
  </div>
  <div class="field">
    <%= f.label :ticket %>
    <%= f.number_field :ticket %>
  </div>
  <div class="field">
    <%= f.label :account_receivable %>
    <%= f.number_field :account_receivable %>
  </div>
  <div class="field">
    <%= f.label :cash %>
    <%= f.number_field :cash %>
  </div>
  <div class="field">
    <%= f.label :advance %>
    <%= f.number_field :advance %>
  </div>
  <div class="field">
    <%= f.label :started_at %>
    <%= f.datetime_select :started_at, :start_year => Date.today.year - 1, :end_year => Date.today.year + 1 %>
  </div>
  <div class="field">
    <%= f.label :finished_at %>
    <%= f.datetime_select :finished_at, :start_year => Date.today.year - 1, :end_year => Date.today.year + 1, :include_blank => true %>
  </div>
  <div class="actions">
    <%= f.submit t("helpers.submit.update"), :class => "btn" %>
  </div>
<% end %>
