<%= form_for(@report) do |f| %>
  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
        <% @report.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form">
    <div class="driver_form">
      <div class="field">
        <%= f.label :driver %>
        <%= f.select :driver_id, options_for_select(@drivers_option, @report.driver_id) %>
        <%#= f.select :driver_id, options_from_collection_for_select(Driver.all, :id, :name) %>
      </div>
      <div class="field">
        <%= f.label :car %>
        <%= f.select :car_id, options_for_select(@cars_option, @report.car_id) %>
        <%#= f.select :car_id, options_from_collection_for_select(Car.all, :id, :name) %>
      </div>
    </div>

    <div class="datetime_form">
      <div class="field">
        <%= f.label :started_at %>
        <%= f.datetime_select :started_at, {:start_year => Date.today.year - 1, :end_year => Date.today.year + 1}, {:class => "input-small"} %>
      </div>
      <div class="field">
        <%= f.label :finished_at %>
        <%= f.datetime_select :finished_at, {:start_year => Date.today.year - 1, :end_year => Date.today.year + 1, :include_blank => true}, {:class => "input-small"} %>
      </div>
    </div>

    <div class="meter_form">
      <div class="field">
        <%= f.label :meter %>
        <%= f.number_field :meter, :value => @report.meter.try(:meter) || @report.last_meter.meter, :class => "right" %>
        <div class="right">
          <span id="meter"></span><span id="meter_diff"></span>
        </div>
      </div>
      <div class="field">
        <%= f.label :mileage %>
        <%= f.number_field :mileage, :value => @report.meter.try(:mileage) || @report.last_meter.mileage, :class => "right" %>
        <div class="right">
          <span id="mileage"></span><span id="mileage_diff"></span>
        </div>
      </div>
      <div class="field">
        <%= f.label :riding_mileage %>
        <%= f.number_field :riding_mileage, :value => @report.meter.try(:riding_mileage) || @report.last_meter.riding_mileage, :class => "right" %>
        <div class="right">
          <span id="riding_mileage"></span><span id="riding_mileage_diff"></span>
        </div>
      </div>
      <div class="field">
        <%= f.label :riding_count %>
        <%= f.number_field :riding_count, :value => @report.meter.try(:riding_count) || @report.last_meter.riding_count, :class => "right" %>
        <div class="right">
          <span id="riding_count"></span><span id="riding_count_diff"></span>
        </div>
      </div>
      <div class="field">
        <%= f.label :meter_fare_count %>
        <%= f.number_field :meter_fare_count, :value => @report.meter.try(:meter_fare_count) || @report.last_meter.meter_fare_count, :class => "right" %>
        <div class="right">
          <span id="meter_fare_count"></span><span id="meter_fare_count_diff"></span>
        </div>
      </div>
      <div class="field">
        <%= f.label :passengers %>
        <%= f.number_field :passengers, :class => "right" %>
      </div>
    </div>

    <div class="sales_form sales_left">
      <div class="field">
        <%= f.label :sales %>
        <%= f.number_field :sales, :class => "right" %>
      </div>
      <div class="field">
        <%= f.label :extra_sales %>
        <%= f.number_field :extra_sales, :class => "right" %>
      </div>
      <div class="field">
        <%= f.label :surplus_funds %>
        <%= f.number_field :surplus_funds, :class => "right" %>
      </div>
      <div class="field">
        <%= label_tag t("views.report.credit") %>
        <div class="right"><span id="credit"></span></div>
      </div>
    </div>

    <div class="sales_form">
      <div class="field">
        <%= f.label :cash %>
        <%= f.number_field :cash, :class => "right" %>
      </div>
      <div class="field">
        <%= f.label :edy %>
        <%= f.number_field :edy, :class => "right" %>
      </div>
      <div class="field">
        <%= f.label :ticket %>
        <%= f.number_field :ticket, :class => "right" %>
      </div>
      <div class="field">
        <%= f.label :advance %>
        <%= f.number_field :advance, :class => "right" %>
      </div>
    </div>

    <div class="sales_form">
      <div class="field">
        <%= f.label :fuel_cost %>
        <%= f.number_field :fuel_cost, :class => "right" %>
      </div>
      <div class="field">
        <%= f.label :account_receivable %>
        <%= f.number_field :account_receivable, :class => "right" %>
      </div>
      <div class="field">
        <%= f.label :deficiency_account %>
        <%= f.number_field :deficiency_account, :class => "right" %>
      </div>

      <%= label_tag t("activerecord.models.transfer_slip") %>
      <% @report.transfer_slips.each do |t| %>
        <div class="right">
          <%= t.debit %>
          <%= t.debit_amount %>
        </div>
      <% end %>
      <%= hidden_field_tag :debit_amount, @report.transfer_slips.sum(:debit_amount) %>

      <div class="field">
        <%= label_tag t("views.report.debit") %>
        <div class="right"><span id="debit"></span></div>
      </div>
    </div>

    <% unless @check_points.blank? %>
      <div class="check_point_form control-group">
        <%= f.label :check_point_id, :class => 'control-label' %>
        <div class="controls inline">
          <ul>
            <%= f.fields_for :check_point_statuses do |check_point_form| %>
              <% @check_points.each_with_index do |check_point, i| %>
                <% if i < @check_points.size/2 %>
                <li class="none">
                  <%= check_point_form.select check_point.id, options_for_select(@status_options, @selected_status[check_point.id]), {}, {:class => "input-medium"} %>
                  <%= check_point_form.label check_point.name %>
                </li>
                <% end %>
              <% end %>
            <% end %>
          </ul>
        </div>

        <div class="controls inline">
          <ul>
            <%= f.fields_for :check_point_statuses do |check_point_form| %>
              <% @check_points.each_with_index do |check_point, i| %>
                <% if i >= @check_points.size/2 %>
                <li class="none">
                  <%= check_point_form.select check_point.id, options_for_select(@status_options, @selected_status[check_point.id]), {}, {:class => "input-medium"} %>
                  <%= check_point_form.label check_point.name %>
                </li>
                <% end %>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit :class => "btn" %>
  </div>
<% end %>

