<h1><%= t("activerecord.models.report") %><%= t("link.edit") %></h1>

<%= render 'form' %>

<%= link_to t("link.show"), @report, :class => "btn" %>
<%= link_to t("link.back"), :back, :class => "btn" %>
