<h1><%= t("activerecord.models.report") %><%= t("link.index") %></h1>

<table>
  <tr>
    <th><%=t "activerecord.attributes.report.driver" %></th>
    <th><%=t "activerecord.attributes.report.mileage" %></th>
    <th><%=t "activerecord.attributes.report.riding_mileage" %></th>
    <th><%=t "activerecord.attributes.report.riding_rate" %></th>
    <th><%=t "activerecord.attributes.report.riding_count" %></th>
    <th><%=t "activerecord.attributes.report.meter_fare_count" %></th>
    <th><%=t "activerecord.attributes.report.passengers" %></th>
    <th><%=t "activerecord.attributes.report.sales" %></th>
    <th><%=t "activerecord.attributes.report.sales_par_kilometer" %></th>
    <th><%=t "activerecord.attributes.report.fuel_cost" %></th>
    <th><%=t "activerecord.attributes.report.ticket" %></th>
    <th><%=t "activerecord.attributes.report.account_receivable" %></th>
    <th><%=t "activerecord.attributes.report.cash" %></th>
    <th><%=t "activerecord.attributes.report.surplus_funds" %></th>
    <th><%=t "activerecord.attributes.report.deficiency_account" %></th>
    <th><%=t "activerecord.attributes.report.advance" %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reports.each do |report| %>
  <tr>
    <td><%= report.driver.name %></td>
    <td><%= report.mileage %></td>
    <td><%= report.riding_mileage %></td>
    <td><%= report.riding_rate %></td>
    <td><%= report.riding_count %></td>
    <td><%= report.meter_fare_count %></td>
    <td><%= report.passengers %></td>
    <td><%= report.sales %></td>
    <td><%= report.sales_par_kilometer %></td>
    <td><%= report.fuel_cost %></td>
    <td><%= report.ticket %></td>
    <td><%= report.account_receivable %></td>
    <td><%= report.cash %></td>
    <td><%= report.surplus_funds %></td>
    <td><%= report.deficiency_account %></td>
    <td><%= report.advance %></td>
    <td><%= link_to t("link.show"), report %></td>
    <td><%= link_to t("link.edit"), edit_report_path(report) %></td>
    <td><%= link_to t("link.destroy"), report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t("link.new"), new_report_path %>
