<h1><%= t("activerecord.models.report") %><%= t("link.index") %></h1>

<%= link_to "#{(Date.new(params[:year].to_i, params[:month].to_i) << 1).year}年#{(Date.new(params[:year].to_i, params[:month].to_i) << 1).month}月", "#{reports_path}/#{(Date.new(params[:year].to_i, params[:month].to_i) << 1).year}/#{(Date.new(params[:year].to_i, params[:month].to_i) << 1).month}" %>
<%= link_to "#{(Date.new(params[:year].to_i, params[:month].to_i) >> 1).year}年#{(Date.new(params[:year].to_i, params[:month].to_i) >> 1).month}月", "#{reports_path}/#{(Date.new(params[:year].to_i, params[:month].to_i) >> 1).year}/#{(Date.new(params[:year].to_i, params[:month].to_i) >> 1).month}" %>

<h2>
  <% if params[:day] %>
    <% if Date.new(params[:year].to_i, params[:month].to_i, params[:day].to_i).strftime("%w") == "0" %>
      <span class="red">
    <% elsif Date.new(params[:year].to_i, params[:month].to_i, params[:day].to_i).strftime("%w") == "6" %>
      <span class="blue">
    <% else %>
      <span>
    <% end %>
    <%= Date.new(params[:year].to_i, params[:month].to_i, params[:day].to_i).strftime("%Y年%m月%d日 (%a)") %>
    </span>
  <% else %>
    <%= Date.new(params[:year].to_i, params[:month].to_i).strftime("%Y年%m月") %>
  <% end %>
  <%=t "activerecord.models.report" %>
</h2>

<% for i in 1..Date.new(params[:year].to_i, params[:month].to_i, -1).day %>
  <% if Date.new(params[:year].to_i, params[:month].to_i, i).strftime("%w") == "0" %>
  <%= link_to "#{i}日", "#{reports_path}/#{Date.new(params[:year].to_i, params[:month].to_i, 9).year}/#{Date.new(params[:year].to_i, params[:month].to_i, 9).month}/#{i}", :class => "red" %>
  <% elsif Date.new(params[:year].to_i, params[:month].to_i, i).strftime("%w") == "6" %>
  <%= link_to "#{i}日", "#{reports_path}/#{Date.new(params[:year].to_i, params[:month].to_i, 9).year}/#{Date.new(params[:year].to_i, params[:month].to_i, 9).month}/#{i}", :class => "blue" %>
  <% else %>
    <%= link_to "#{i}日", "#{reports_path}/#{Date.new(params[:year].to_i, params[:month].to_i, 9).year}/#{Date.new(params[:year].to_i, params[:month].to_i, 9).month}/#{i}" %>
  <% end %>
<% end %>

<table class="table table-striped table-bordered table-hover">
  <tr>
    <% unless params[:day] %>
      <th><%=t "activerecord.attributes.report.date" %></th>
    <% end %>
    <th><%=t "activerecord.attributes.report.car_id" %></th>
    <th><%=t "activerecord.attributes.report.driver_id" %></th>
    <th><%=t "activerecord.attributes.report.mileage" %></th>
    <th><%=t "activerecord.attributes.report.riding_mileage" %></th>
    <th><%=t "activerecord.attributes.report.riding_rate" %></th>
    <th><%=t "activerecord.attributes.report.riding_count" %></th>
    <th><%=t "activerecord.attributes.report.meter_fare_count" %></th>
    <th><%=t "activerecord.attributes.report.passengers" %></th>
    <th><%=t "activerecord.attributes.report.sales" %></th>
    <th><%=t "activerecord.attributes.report.sales_per_kilometer" %></th>
    <th><%=t "activerecord.attributes.report.fuel_cost" %></th>
    <th><%=t "activerecord.attributes.report.ticket" %></th>
    <th><%=t "activerecord.attributes.report.account_receivable" %></th>
    <th><%=t "activerecord.attributes.report.cash" %></th>
    <th><%=t "activerecord.attributes.report.surplus_funds" %></th>
    <th><%=t "activerecord.attributes.report.deficiency_account" %></th>
    <th><%=t "activerecord.attributes.report.advance" %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <%= paginate @reports rescue nil %>
  <% @reports.each do |report| %>
    <tr>
      <% unless params[:day] %>
      <td>
        <% if report.date.strftime("%w") == "0" %>
          <%= link_to "#{report.date.strftime("%d日")} (#{report.date.strftime("%a")})", "#{reports_path}/#{report.date.year}/#{report.date.month}/#{report.date.day}", :class => "red" %>
        <% elsif report.date.strftime("%w") == "6" %>
          <%= link_to "#{report.date.strftime("%d日")} (#{report.date.strftime("%a")})", "#{reports_path}/#{report.date.year}/#{report.date.month}/#{report.date.day}", :class => "blue" %>
        <% else %>
          <%= link_to "#{report.date.strftime("%d日")} (#{report.date.strftime("%a")})", "#{reports_path}/#{report.date.year}/#{report.date.month}/#{report.date.day}" %>
        <% end %>
      </td>
      <% end %>
      <td><%= report.car.name %></td>
      <td><%= report.driver.name %></td>
      <td><%= number_with_delimiter report.mileage %><% if report.mileage %>Km<% end %></td>
      <td><%= number_with_delimiter report.riding_mileage %><% if report.riding_mileage %>Km<% end %></td>
      <td><%= number_to_percentage(report.riding_mileage*100/report.mileage, :precision => 0) rescue "" %></td>
      <td><%= number_with_delimiter report.riding_count %><% if report.riding_count %>回<% end %></td>
      <td><%= number_with_delimiter report.meter_fare_count %><% if report.meter_fare_count %>回<% end %></td>
      <td><%= number_with_delimiter report.passengers %><% if report.passengers %>人<% end %></td>
      <td><%= number_to_currency report.sales %></td>
      <td><%= number_to_currency(report.sales/report.mileage, :precision => 0) rescue "" %></td>
      <td><%= number_to_currency report.fuel_cost %></td>
      <td><%= number_to_currency report.ticket %></td>
      <td><%= number_to_currency report.account_receivable %></td>
      <td><%= number_to_currency report.cash %></td>
      <td><%= number_to_currency report.surplus_funds %></td>
      <td><%= number_to_currency report.deficiency_account %></td>
      <td><%= number_to_currency report.advance %></td>
      <td><%= link_to t("link.show"), report %></td>
      <td><%= link_to t("link.edit"), edit_report_path(report) %></td>
      <td><%= link_to t("link.destroy"), report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<br />
<%= paginate @reports rescue nil %>
<%= link_to t("link.new"), new_report_path, :class => "btn" %>
