<h1><%= link_to @report.started_at.strftime("%Y年%-m月%-d日"), "#{reports_path}/#{@report.started_at.year}/#{@report.started_at.month}/#{@report.started_at.day}" %> <%= t("activerecord.models.report") %> （<%= link_to @report.car.name, "#{car_path(@report.car)}/#{@report.started_at.year}/#{@report.started_at.month}" %>：<%= link_to @report.driver.name, "#{driver_path(@report.driver)}/#{@report.started_at.year}/#{@report.started_at.month}" %>）</h1>

<div class="pagination">
  <ul>
    <li><%= link_to "#{@report.started_at.year - 1}年 «", "#{sales_path}/#{@report.started_at.year - 1}/12" %></li>
    <% if @report.started_at.year < Date.today.year %>
       <% for i in 1..12 %>
       <li><%= link_to "#{i}月", "#{sales_path}/#{@report.started_at.year}/#{i}" %></li>
       <% end %>
       <li><%= link_to "» #{@report.started_at.year + 1}年", "#{sales_path}/#{@report.started_at.year + 1}/1" %></li>
       <% else %>
       <% for i in 1..Date.today.month %>
       <li><%= link_to "#{i}月", "#{sales_path}/#{@report.started_at.year}/#{i}" %></li>
       <% end %>
       <% end %>
  </ul>
</div>

<div class="pagination calender">
  <ul>
    <% Date.today.year == @report.started_at.year && Date.today.month == @report.started_at.month ? last_day = Date.today.day : last_day = Date.new(@report.started_at.year.to_i, @report.started_at.month.to_i, -1).day %>
    <% for i in 1..last_day %>
      <% if Date.new(@report.started_at.year, @report.started_at.month, i).strftime("%w") == "0" %>
        <li><%= link_to "#{i}日", "#{reports_path}/#{Date.new(@report.started_at.year, @report.started_at.month, 9).year}/#{Date.new(@report.started_at.year, @report.started_at.month, 9).month}/#{i}", :class => "red" %></li>
      <% elsif Date.new(@report.started_at.year, @report.started_at.month, i).strftime("%w") == "6" %>
        <li><%= link_to "#{i}日", "#{reports_path}/#{Date.new(@report.started_at.year, @report.started_at.month, 9).year}/#{Date.new(@report.started_at.year, @report.started_at.month, 9).month}/#{i}", :class => "blue" %></li>
      <% else %>
        <li><%= link_to "#{i}日", "#{reports_path}/#{Date.new(@report.started_at.year, @report.started_at.month, 9).year}/#{Date.new(@report.started_at.year, @report.started_at.month, 9).month}/#{i}" %></li>
      <% end %>
    <% end %>
  </ul>
</div>

<div class="clear"></div>

<div class="left">
  <div class="report">
    <table class="table table-striped table-bordered table-hover">
      <tr>
        <th></th>
        <th><%=t "activerecord.attributes.report.meter" %></th>
        <th><%=t "activerecord.attributes.report.mileage" %></th>
        <th><%=t "activerecord.attributes.report.riding_mileage" %></th>
        <th><%=t "activerecord.attributes.report.riding_count" %></th>
        <th><%=t "activerecord.attributes.report.meter_fare_count" %></th>
      </tr>
      <tr>
        <th><%=t "label.meter.finish" %></th>
        <td><% if @report.meter.try(:meter) && @report.finished_at %><%= number_with_delimiter @report.meter.meter %>km<% end %></td>
        <td><% if @report.meter.try(:mileage) && @report.finished_at %><%= number_with_delimiter @report.meter.mileage %>km<% end %></td>
        <td><% if @report.meter.try(:riding_mileage) && @report.finished_at %><%= number_with_delimiter @report.meter.riding_mileage %>km<% end %></td>
        <td><% if @report.meter.try(:riding_count) && @report.finished_at %><%= number_with_delimiter @report.meter.riding_count %>回<% end %></td>
        <td><% if @report.meter.try(:meter_fare_count) && @report.finished_at %><%= number_with_delimiter @report.meter.meter_fare_count %>回<% end %></td>
      </tr>
      <tr>
        <th><%=t "label.meter.start" %></th>
        <td><% if @last_meter.try(:meter) %><%= number_with_delimiter @last_meter.meter %>km<% end %></td>
        <td><% if @last_meter.try(:mileage) %><%= number_with_delimiter @last_meter.mileage %>km<% end %></td>
        <td><% if @last_meter.try(:riding_mileage) %><%= number_with_delimiter @last_meter.riding_mileage %>km<% end %></td>
        <td><% if @last_meter.try(:riding_count) %><%= number_with_delimiter @last_meter.riding_count %>回<% end %></td>
        <td><% if @last_meter.try(:meter_fare_count) %><%= number_with_delimiter @last_meter.meter_fare_count %>回<% end %></td>
      </tr>
      <tr>
        <th><%=t "label.meter.balance" %></th>
        <td><% if @report.meter.try(:meter) && @last_meter.try(:meter) && @report.finished_at %><%= number_with_delimiter @report.meter.meter - @last_meter.meter %>km<% end %></td>
        <td>
          <% if @report.mileage && @report.finished_at %>
            <% if @report.meter.try(:mileage) && @last_meter.try(:mileage) && @report.finished_at && @report.meter.mileage - @last_meter.mileage != @report.mileage %><span class="red">!</span><% end %>
            <%= number_with_delimiter @report.mileage %>km
          <% end %>
        </td>
        <td>
          <% if @report.riding_mileage && @report.finished_at %>
            <% if @report.meter.try(:riding_mileage) && @last_meter.try(:riding_mileage) && @report.meter.riding_mileage - @last_meter.riding_mileage != @report.riding_mileage %><span class="red">!</span><% end %>
            <%= number_with_delimiter @report.riding_mileage %>km
          <% end %>
        </td>
        <td>
          <% if @report.riding_count && @report.finished_at %>
            <% if @report.meter.try(:riding_count) && @last_meter.try(:riding_count) && @report.meter.riding_count - @last_meter.riding_count != @report.riding_count %><span class="red">!</span><% end %>
            <%= number_with_delimiter @report.riding_count %>回
          <% end %>
        </td>
        <td>
          <% if @report.meter_fare_count && @report.finished_at %>
            <% if @report.meter.try(:meter_fare_count) && @last_meter.try(:meter_fare_count) && @report.meter.meter_fare_count - @last_meter.meter_fare_count != @report.meter_fare_count%><span class="red">!</span><% end %>
            <%= number_with_delimiter @report.meter_fare_count %>回
          <% end %>
        </td>
      </tr>
    </table>

    <table class="table table-striped table-bordered table-hover">
      <tr>
        <th><%=t "activerecord.attributes.report.started_at" %></th>
        <th><%=t "activerecord.attributes.report.finished_at" %></th>
        <th><%=t "activerecord.attributes.report.working_hours" %></th>
        <th><%=t "activerecord.attributes.report.rest_hours" %></th>
        <th><%=t "activerecord.attributes.report.real_working_hours" %></th>
      </tr>
      <tr>
        <td>
          <% if @report.started_at %>
          <%= @report.started_at.strftime("%H時%M分") %>
          <% end %>
        </td>
        <td>
          <% if @report.finished_at %>
          <%= @report.finished_at.strftime("%H時%M分") %>
          <% end %>
        </td>
        <td>
          <% if @report.finished_at %>
          <%= (@report.finished_at - @report.started_at).divmod(60*60)[0] %>時間
          <%= (@report.finished_at - @report.started_at).divmod(60*60)[1].divmod(60)[0] %>分
          <% end %>
        </td>
        <td>
          <% if @rest_array %>
          <%= @rest_array[0] %>時間
          <%= @rest_array[1] %>分
          <% end %>
        </td>
        <td>
          <% if @report.finished_at %>
          <%= ((@report.finished_at - @report.started_at).to_i - (@rest_array[0]*60*60 + @rest_array[1]*60)).divmod(60*60)[0] %>時間
          <%= ((@report.finished_at - @report.started_at).to_i - (@rest_array[0]*60*60 + @rest_array[1]*60)).divmod(60*60)[1].divmod(60)[0] %>分
          <% end %>
        </td>
      </tr>
    </table>

    <table class="table table-striped table-bordered table-hover">
      <tr>
        <th><%=t "activerecord.attributes.report.passengers" %></th>
        <th><%=t "activerecord.attributes.report.riding_rate" %></th>
        <th><%=t "activerecord.attributes.report.sales_per_kilometer" %></th>
      </tr>
      <tr>
        <td><% if @report.passengers %><%= number_with_delimiter @report.passengers %>人<% end %></td>
        <td><% if @report.finished_at && @report.mileage != 0 %><%= number_to_percentage(@report.riding_mileage*100/@report.mileage, :precision => 0) %><% end %></td>
        <td><% if @report.finished_at && @report.mileage != 0 %><%= number_to_currency((@report.sales + @report.extra_sales)/@report.mileage, :precision => 0, :locale => "ja") %><% end %></td>
      </tr>
    </table>
  </div>
</div>

<div class="right">
  <div class="sales">
    <table class="table table-striped table-bordered table-hover">
      <tr>
        <th><%=t "activerecord.attributes.report.cash" %></th>
        <td><%= number_to_currency @report.cash, :locale => "ja" %></td>
        <th><%=t "activerecord.attributes.report.sales" %></th>
        <td><%= number_to_currency @report.sales, :locale => "ja" %></td>
      </tr>
      <tr>
        <th><%=t "activerecord.attributes.report.ticket" %></th>
        <td><%= number_to_currency @report.ticket, :locale => "ja" %></td>
        <th><%=t "activerecord.attributes.report.extra_sales" %></th>
        <td><%= number_to_currency @report.extra_sales, :locale => "ja" %></td>
      </tr>
      <tr>
        <th><%=t "activerecord.attributes.report.account_receivable" %></th>
        <td><%= number_to_currency @report.account_receivable, :locale => "ja" %></td>
        <th><%=t "activerecord.attributes.report.surplus_funds" %></th>
        <td><%= number_to_currency @report.surplus_funds, :locale => "ja" %></td>
      </tr>
      <tr>
        <th><%=t "activerecord.attributes.report.fuel_cost" %></th>
        <td><%= number_to_currency @report.fuel_cost, :locale => "ja" %></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th><%=t "activerecord.attributes.report.deficiency_account" %></th>
        <td><%= number_to_currency @report.deficiency_account, :locale => "ja" %></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th><%=t "activerecord.attributes.report.advance" %></th>
        <td><%= number_to_currency @report.advance, :locale => "ja" %></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th><%= t("label.report.total") %></th>
        <td><%= number_to_currency @report.cash + @report.ticket + @report.account_receivable + @report.fuel_cost + @report.deficiency_account + @report.advance, :locale => "ja" %></td>
        <th><%= t("label.report.total") %></th>
        <td><%= number_to_currency @report.sales + @report.extra_sales + @report.surplus_funds, :locale => "ja" %></td>
      </tr>
    </table>
  </div>
</div>

<div class="clear"></div>

<div>
  <% if @report.rests %>
    <h2><%=t "activerecord.models.rest" %></h2>
    <p><%= link_to t("link.new") + t("activerecord.models.rest"), "#{new_rest_path}?report_id=#{@report.id}", :class => "btn" %></p>
    <div class="left">
      <table class="table table-striped table-bordered table-hoverw">
        <tr>
          <th><%=t "label.rest.index" %></th>
          <th><%=t "activerecord.attributes.rest.location" %></th>
          <th><%=t "activerecord.attributes.rest.started_at" %></th>
          <th><%=t "activerecord.attributes.rest.ended_at" %></th>
          <th><%=t "label.rest.time" %></th>
          <th></th>
        </tr>
        <% @report.rests.each_with_index do |rest, i| %>
          <% if i <= (@report.rests.size + 1)/2 - 1 %>
          <tr>
            <td><%= i + 1 %></td>
            <td><%= rest.location %></td>
            <td><% if rest.started_at %><%= rest.started_at.strftime("%-m月%-d日 %H時%M分") %><% end %></td>
            <td><% if rest.ended_at %><%= rest.ended_at.strftime("%-m月%-d日 %H時%M分") %><% end %></td>
            <td>
              <% if rest.ended_at && rest.started_at %>
                <%= (rest.ended_at - rest.started_at).divmod(60*60)[0] %>時間
                <%= (rest.ended_at - rest.started_at).divmod(60*60)[1].divmod(60)[0]%>分
              <% end %>
            </td>
            <td><%= link_to t("link.edit"), edit_rest_path(rest) %></td>
          </tr>
          <% end %>
        <% end %>
      </table>
    </div>

    <div class="right">
      <table class="table table-striped table-bordered table-hoverw">
        <tr>
          <th><%=t "label.rest.index" %></th>
          <th><%=t "activerecord.attributes.rest.location" %></th>
          <th><%=t "activerecord.attributes.rest.started_at" %></th>
          <th><%=t "activerecord.attributes.rest.ended_at" %></th>
          <th><%=t "label.rest.time" %></th>
          <th></th>
        </tr>
        <% @report.rests.each_with_index do |rest, i| %>
          <% if i > (@report.rests.size + 1)/2 - 1 %>
          <tr>
            <td><%= i + 1 %></td>
            <td><%= rest.location %></td>
            <td><% if rest.started_at %><%= rest.started_at.strftime("%-m月%-d日 %H時%M分") %><% end %></td>
            <td><% if rest.ended_at %><%= rest.ended_at.strftime("%-m月%-d日 %H時%M分") %><% end %></td>
            <td>
              <% if rest.ended_at && rest.started_at %>
                <%= (rest.ended_at - rest.started_at).divmod(60*60)[0] %>時間
                <%= (rest.ended_at - rest.started_at).divmod(60*60)[1].divmod(60)[0]%>分
              <% end %>
            </td>
            <td><%= link_to t("link.edit"), edit_rest_path(rest) %></td>
          </tr>
          <% end %>
        <% end %>
        <tr>
          <th colspan="3"><%=t "activerecord.attributes.rest.estimated_rest" %></th>
          <td colspan="3"><% if @rest_array %><%= @rest_array[0] %>時間<%= @rest_array[1] %>分<% end %></td>
        </tr>
      </table>
    </div>
  <% end %>
</div>

<div class="clear"></div>

<% if @report.rides %>
<h2><%=t "activerecord.models.ride" %></h2>
<p><%= link_to t("link.new") + t("activerecord.models.ride"), "#{new_ride_path}?report_id=#{@report.id}", :class => "btn" %></p>

<div class="left">
  <table class="table table-striped table-bordered table-hover">
    <tr>
      <th><%=t "label.ride.index" %></th>
      <th><%=t "activerecord.attributes.ride.ride_address" %></th>
      <th><%=t "activerecord.attributes.ride.leave_address" %></th>
      <th><%=t "activerecord.attributes.ride.passengers" %></th>
      <th><%=t "activerecord.attributes.ride.fare" %></th>
      <th><%=t "activerecord.attributes.ride.started_at" %></th>
      <th><%=t "activerecord.attributes.ride.ended_at" %></th>
      <th></th>
    </tr>
    <% @report.rides.each_with_index do |ride, i| %>
    <% if i <= (@report.rides.size + 1)/2 - 1%>
       <tr>
         <td class="center"><%= i + 1 %></td>
         <td><%= ride.ride_address.gsub("(null)", "") %></td>
         <td><%= ride.leave_address.gsub("(null)", "") %></td>
         <td><%= ride.passengers %></td>
         <td><%= number_with_delimiter ride.fare %></td>
         <td><% if ride.started_at %><%= ride.started_at.strftime("%H時%M分") %><% end %></td>
         <td><% if ride.ended_at %><%= ride.ended_at.strftime("%H時%M分") %><% end %></td>
         <td><%= link_to t("link.edit"), edit_ride_path(ride) %></td>
       </tr>
       <% end %>
     <% end %>
  </table>
</div>

<div class="right">
  <table class="table table-striped table-bordered table-hover">
    <tr>
      <th><%=t "label.ride.index" %></th>
      <th><%=t "activerecord.attributes.ride.ride_address" %></th>
      <th><%=t "activerecord.attributes.ride.leave_address" %></th>
      <th><%=t "activerecord.attributes.ride.passengers" %></th>
      <th><%=t "activerecord.attributes.ride.fare" %></th>
      <th><%=t "activerecord.attributes.ride.started_at" %></th>
      <th><%=t "activerecord.attributes.ride.ended_at" %></th>
      <th></th>
    </tr>
    <% @report.rides.each_with_index do |ride, i| %>
      <% if i > (@report.rides.size + 1)/2 - 1 %>
        <tr>
          <td class="center"><%= i + 1 %></td>
          <td><%= ride.ride_address.gsub("(null)", "") %></td>
          <td><%= ride.leave_address.gsub("(null)", "") %></td>
          <td><%= ride.passengers %></td>
          <td><%= number_with_delimiter ride.fare %></td>
          <td><% if ride.started_at %><%= ride.started_at.strftime("%H時%M分") %><% end %></td>
          <td><% if ride.ended_at %><%= ride.ended_at.strftime("%H時%M分") %><% end %></td>
          <td><%= link_to t("link.edit"), edit_ride_path(ride) %></td>
        </tr>
        <% end %>
      <% end %>
  </table>
</div>
<% end %>

<div class="clear"></div>

<%= link_to t("link.edit"), edit_report_path(@report), :class => "btn" %>
<%= link_to t("link.destroy"), @report, method: :delete, data: { confirm: t("message.destroy_confirmation") }, :class => "btn" %>
<%= link_to t("link.document.show"), "#{documents_path}/reports/#{@report.id}.pdf", :class => "btn", :target => "_blank" %>
<%= link_to t("link.back"), :back, :class => "btn" %>
