<p id="notice"><%= notice %></p>

<p>
  <b><%=t "activerecord.attributes.report.driver" %></b>
  <%= @report.driver.name %>
</p>

<p>
  <b><%=t "activerecord.attributes.report.mileage" %></b>
  <%= @report.mileage %>
</p>

<p>
  <b><%=t "activerecord.attributes.report.riding_mileage" %></b>
  <%= @report.riding_mileage %>
</p>

<p>
  <b><%=t "activerecord.attributes.report.riding_rate" %></b>
  <%= @report.riding_rate %>
</p>

<p>
  <b><%=t "activerecord.attributes.report.riding_count" %></b>
  <%= @report.riding_count %>
</p>

<p>
  <b><%=t "activerecord.attributes.report.meter_fare_count" %></b>
  <%= @report.meter_fare_count %>
</p>

<p>
  <b><%=t "activerecord.attributes.report.passengers" %></b>
  <%= @report.passengers %>
</p>

<p>
  <b><%=t "activerecord.attributes.report.sales" %></b>
  <%= @report.sales %>
</p>

<p>
  <b><%=t "activerecord.attributes.report.sales_par_kilometer" %></b>
  <%= @report.sales_par_kilometer %>
</p>

<p>
  <b><%=t "activerecord.attributes.report.fuel_cost" %></b>
  <%= @report.fuel_cost %>
</p>

<p>
  <b><%=t "activerecord.attributes.report.ticket" %></b>
  <%= @report.ticket %>
</p>

<p>
  <b><%=t "activerecord.attributes.report.account_receivable" %></b>
  <%= @report.account_receivable %>
</p>

<p>
  <b><%=t "activerecord.attributes.report.cash" %></b>
  <%= @report.cash %>
</p>

<p>
  <b><%=t "activerecord.attributes.report.surplus_funds" %></b>
  <%= @report.surplus_funds %>
</p>

<p>
  <b><%=t "activerecord.attributes.report.deficiency_account" %></b>
  <%= @report.deficiency_account %>
</p>

<p>
  <b><%=t "activerecord.attributes.report.advance" %></b>
  <%= @report.advance %>
</p>


<%= link_to t("link.edit"), edit_report_path(@report) %> |
<%= link_to t("link.back"), reports_path %>
