<p id="notice"><%= notice %></p>

<p>
  <b><%=t "activerecord.attributes.report.driver" %></b>
  <%= @report.driver.name %>
</p>

<p>
  <b><%=t "activerecord.attributes.report.mileage" %></b>
  <%= @report.mileage %>
</p>

<p>
  <b><%=t "activerecord.attributes.report.riding_mileage" %></b>
  <%= @report.riding_mileage %>
</p>

<p>
  <b><%=t "activerecord.attributes.report.riding_count" %></b>
  <%= @report.riding_count %>
</p>

<p>
  <b><%=t "activerecord.attributes.report.meter_fare_count" %></b>
  <%= @report.meter_fare_count %>
</p>

<p>
  <b><%=t "activerecord.attributes.report.passengers" %></b>
  <%= @report.passengers %>
</p>

<p>
  <b><%=t "activerecord.attributes.report.sales" %></b>
  <%= @report.sales %>
</p>

<p>
  <b><%=t "activerecord.attributes.report.fuel_cost" %></b>
  <%= @report.fuel_cost %>
</p>

<p>
  <b><%=t "activerecord.attributes.report.ticket" %></b>
  <%= @report.ticket %>
</p>

<p>
  <b><%=t "activerecord.attributes.report.account_receivable" %></b>
  <%= @report.account_receivable %>
</p>

<p>
  <b><%=t "activerecord.attributes.report.cash" %></b>
  <%= @report.cash %>
</p>

<p>
  <b><%=t "activerecord.attributes.report.surplus_funds" %></b>
  <%= @report.surplus_funds %>
</p>

<p>
  <b><%=t "activerecord.attributes.report.deficiency_account" %></b>
  <%= @report.deficiency_account %>
</p>

<p>
  <b><%=t "activerecord.attributes.report.advance" %></b>
  <%= @report.advance %>
</p>

<% if @report.rests %>
  <p><%=t "activerecord.models.rest" %></p>
  <% @report.rests.each do |rest| %>
    <p>
      <b><%=t "activerecord.attributes.rest.location" %></b>
      <%= rest.location %>
    </p>
    <p>
      <b><%=t "activerecord.attributes.rest.started_at" %></b>
      <%= rest.started_at.strftime("%Y年%m月%d日 %H時%M分") %>
    </p>
    <p>
      <b><%=t "activerecord.attributes.rest.ended_at" %></b>
      <%= rest.ended_at.strftime("%Y年%m月%d日 %H時%M分") %>
    </p>
    <p><%= link_to t("link.edit"), edit_rest_path(rest) %></p>
  <% end %>
  <p><%= link_to t("link.new"), "#{new_rest_path}?report_id=#{@report.id}" %></p>
  <p>
    <b><%=t "activerecord.attributes.rest.estimated_time" %></b>
    <%= @estimated_time %>
  </p>
<% end %>

<%= link_to t("link.edit"), edit_report_path(@report) %> |
<%= link_to t("link.back"), reports_path %>
