<p>
  <b><%=t "activerecord.attributes.driver.name" %></b>
  <%= @ride.report.driver.name %>
</p>

<p>
  <b><%=t "activerecord.attributes.ride.ride_address" %></b>
  <%= @ride.ride_address %>
</p>

<p>
  <b><%=t "activerecord.attributes.ride.leave_address" %></b>
  <%= @ride.leave_address %>
</p>

<p>
  <b><%=t "activerecord.attributes.ride.passengers" %></b>
  <%= @ride.passengers %>
</p>

<p>
  <b><%=t "activerecord.attributes.ride.fare" %></b>
  <%= @ride.fare %>
</p>

<p>
  <b><%=t "activerecord.attributes.ride.created_at" %></b>
  <%= @ride.created_at.strftime("%Y年%m月%d日 %H時%M分") %>
</p>

<p>
  <b><%=t "activerecord.attributes.ride.ended_at" %></b>
  <%= @ride.ended_at.strftime("%Y年%m月%d日 %H時%M分") %>
</p>

<%= link_to t("link.edit"), edit_ride_path(@ride) %> |
<%= link_to t("link.back"), rides_path %>
