<p id="notice"><%= notice %></p>

<p>
  <b>Working days:</b>
  <%= @tax_withholding.working_days %>
</p>

<p>
  <b>Working hours:</b>
  <%= @tax_withholding.working_hours %>
</p>

<p>
  <b>Holiday working hours:</b>
  <%= @tax_withholding.holiday_working_hours %>
</p>

<p>
  <b>Night working hours:</b>
  <%= @tax_withholding.night_working_hours %>
</p>

<p>
  <b>Extra working hours:</b>
  <%= @tax_withholding.extra_working_hours %>
</p>

<p>
  <b>Base salary:</b>
  <%= @tax_withholding.base_salary %>
</p>

<p>
  <b>Percentage pay:</b>
  <%= @tax_withholding.percentage_pay %>
</p>

<p>
  <b>Holiday pay:</b>
  <%= @tax_withholding.holiday_pay %>
</p>

<p>
  <b>Night pay:</b>
  <%= @tax_withholding.night_pay %>
</p>

<p>
  <b>Extra pay:</b>
  <%= @tax_withholding.extra_pay %>
</p>

<p>
  <b>No absence pay:</b>
  <%= @tax_withholding.no_absence_pay %>
</p>

<p>
  <b>No accident pay:</b>
  <%= @tax_withholding.no_accident_pay %>
</p>

<p>
  <b>Long service pay:</b>
  <%= @tax_withholding.long_service_pay %>
</p>

<p>
  <b>Real salary:</b>
  <%= @tax_withholding.real_salary %>
</p>

<p>
  <b>Health insurance:</b>
  <%= @tax_withholding.health_insurance %>
</p>

<p>
  <b>Nursing insurance:</b>
  <%= @tax_withholding.nursing_insurance %>
</p>

<p>
  <b>Pension:</b>
  <%= @tax_withholding.pension %>
</p>

<p>
  <b>Unemployment isurance:</b>
  <%= @tax_withholding.unemployment_isurance %>
</p>

<p>
  <b>Taxables:</b>
  <%= @tax_withholding.taxables %>
</p>

<p>
  <b>Dependents:</b>
  <%= @tax_withholding.dependents %>
</p>

<p>
  <b>Calculated tax amount:</b>
  <%= @tax_withholding.calculated_tax_amount %>
</p>

<p>
  <b>Adjustment:</b>
  <%= @tax_withholding.adjustment %>
</p>

<p>
  <b>Net collection:</b>
  <%= @tax_withholding.net_collection %>
</p>

<p>
  <b>Resident tax:</b>
  <%= @tax_withholding.resident_tax %>
</p>

<p>
  <b>Bonus:</b>
  <%= @tax_withholding.bonus %>
</p>

<p>
  <b>Social insurance:</b>
  <%= @tax_withholding.social_insurance %>
</p>


<%= link_to 'Edit', edit_tax_withholding_path(@tax_withholding) %> |
<%= link_to 'Back', tax_withholdings_path %>
