<tr id="car-<%= location.car.try(:id) %>">
  <td class="left span4"><%= link_to "#{location.car.name}（#{location.car.reports.last.driver.name}）", report_path(location.car.reports.last) rescue nil %></td>
  <td class="left address span5"><%= location.address.gsub("(null)", "") %></td>
  <td class="center updated-at span4"><%= location.updated_at.strftime("%Y/%m/%d %H:%M:%S") rescue nil %></td>
  <td class="center span3">
    <% if @pickup_location %>
      <%= link_to "配車指示", "/notifications/new?car_id=#{location.car_id}&pickup_location=#{@pickup_location}&address=#{@address}", :class => "btn" %>
    <% else %>
      <%= link_to "配車指示", "/notifications/new?car_id=#{location.car_id}", :class => "btn" %>
    <% end %>
    <%= link_to t("activerecord.models.report"), report_path(location.car.reports.last), :class => "btn" rescue nil %>
  </td>
</tr>
