<%= gmaps(:map_options => {:language => "ja"},
          :markers => {
            :data => @json,
            :options => {:raw => "{animation:google.maps.Animation.BOUNCE}"}
          }) %>

<% content_for :scripts do %>
  <script type="text/javascript" charset="utf-8">
    Gmaps.map.callback = function() {
      for (var i = 0; i < Gmaps.map.markers.length; ++i) {
        google.maps.event.addListener(Gmaps.map.markers[i].serviceObject, 'click', function(object) {
        });
      }
    }
  </script>
<% end %>

<table class="table table-striped table-bordered table-hover">
  <tr>
    <th><%=t "activerecord.attributes.location.car" %></th>
    <th><%=t "activerecord.attributes.location.address" %></th>
    <th><%=t "activerecord.attributes.location.updated_at" %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @locations.each do |location| %>
  <tr>
    <td><%= link_to location.car.name, "#{car_path(location.car)}/#{Date.today.year}/#{Date.today.month}/#{Date.today.day}" %></td>
    <td><%= location.address %></td>
    <td><%= location.updated_at.strftime("%Y/%m/%d %H:%M:%S") rescue nil %></td>
    <td><%= link_to t("link.show"), location.car %></td>
    <td><%= link_to t("link.edit"), edit_car_path(location.car) %></td>
    <td><%= link_to t("link.destroy"), location.car, method: :delete, data: { confirm: t("message.destroy_confirmation") } %></td>
  </tr>
<% end %>
</table>

