<p id="notice"><%= notice %></p>

<p>
  <b>Car:</b>
  <%= @location.car.name %>
</p>

<p>
  <b>Address:</b>
  <%= @location.address %>
</p>

<p>
  <b>Latitude:</b>
  <%= @location.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @location.longitude %>
</p>

<p>
  <b>Gmaps:</b>
  <%= @location.gmaps %>
</p>


<%= link_to t("link.edit"), edit_location_path(@location) %> |
<%= link_to t("link.back"), locations_path %>
