<p id="notice"><%= notice %></p>

<table class="table table-striped table-bordered table-hover table-narrow">
<tr>
  <th><%=t "activerecord.attributes.location.car" %></th>
  <td><%= @location.car.name %></td>
</tr>

<tr>
  <th><%=t "activerecord.attributes.location.address" %></th>
  <td><%= @location.address %></td>
</tr>

<tr>
  <th><%=t "activerecord.attributes.location.latitude" %></th>
  <td><%= @location.latitude %></td>
</tr>

<tr>
  <th><%=t "activerecord.attributes.location.longitude" %></th>
  <td><%= @location.longitude %></td>
</tr>

<tr>
  <th><%=t "activerecord.attributes.location.gmaps" %></th>
  <td><%= @location.gmaps %></td>
</tr>
</table>

<%= link_to t("link.edit"), edit_location_path(@location) %> |
<%= link_to t("link.back"), locations_path %>
